* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular";
}

/* .page {
  display: flex;
}
.library {
  min-width: 380px;
  background-color: black;
  height: 100vh;
}
.main-content {
  flex-grow: 7;
  background-color: red;
}
.activities {
  min-width: 270px;
  background-color: black;
} */

.background-main {
  background-color: #181818;
}
.icon-color {
  color: #9f9f9f;
}

.song-slider {
  width: 100%;
}
.slider {
  width: 80%;
}
.form-range {
  width: 80px;
  height: 50px;
}
