* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
}
.library {
  min-width: 380px;
  background-color: black;
  height: 100vh;
}
.main-content {
  flex-grow: 7;
  background-color: red;
}
.activities {
  min-width: 270px;
  background-color: black;
}

.activities ul li > i {
  color: rgb(163, 161, 161);
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
}
.activities .row i {
  color: rgb(163, 161, 161);

  font-size: 17px;
}

.feed > div > div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
